* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
}




.main-nav {
background-color: white;
color: #2a2a2a;
padding: 5vh 2vw;
top: 0;
display: flex;
flex-direction: row;
z-index: 2;
height: 7.5vh;
border-bottom: 2px solid lightgray;
}
.nav-flex {
display: flex;
flex-direction: row;
flex: 1;
}

.nav-item {

font-weight: bold;
font-size: medium;
margin: auto;
cursor: pointer;
position: relative;
}

.nav-item:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 3px;
    right: 0;
    background: black;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
   
.nav-item:hover:after{
    width: 100%;
    left: 0;
    background:black ;
  }

.nav-center {
font-weight: 900;
font-size: 1.5vw;
letter-spacing: 0.4vw;
margin: auto;
}

.search-btn {
background-color: black;
width: 3.4vw;
height: 3.4vw;
margin: 0 4vw;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
cursor: pointer;
}

.search-btn .fa-search {
color: white;
}

.search-btn:hover{
  background-color: transparent;
  border:0.05vw solid black;
  width: 3.3vw;
  height: 3.3vw;
}

.search-btn:hover .fa-search{
  color: black;
}

a {
color: black;
text-decoration: none;
}



.main {
display: flex;
flex-direction: row;
}

.blog-list {
flex: 1;
height: 50vh;
margin-top: 20vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
list-style-type: none;
padding: 0;
}

.blog-list li {
flex: 25%;
}

.blog-list li a {
font-size: 25px;
}


.blog {
flex: 5;
padding-top: 20px;
display: block;
flex-direction: column;
min-height: 90vh;
border-right: solid 2px lightgray;
}


.blog img {
  width: 90%;
}

.blog .date {
  font-size: medium;
  color: gray;
}

.blog .dot{
  height: 7.5px;
  width: 7.5px;
  background-color: rgb(233, 87, 87);
  border-radius: 50%;
  display: inline-block;
  margin-bottom: .3vh;
}

.blog .heading {
  font-size: xx-large;
}

.blog-content {
flex: 2;
height: 65vh;
margin-top: auto;
justify-content: center;
align-items: center;
padding: 40px;
}

.blog-info {
  margin-top: 5vh;
}

.blog-info div {
  margin-top: 7px;
  color: gray;
}

